.ccsproject
.cproject
.launches/Demo.launch
.project
.settings/org.eclipse.cdt.codan.core.prefs
.settings/org.eclipse.cdt.debug.core.prefs
.settings/org.eclipse.core.resources.prefs
Debug/ccsObjs.opt
Debug/Demo_linkInfo.xml
Debug/main.obj
Debug/main.pp
Debug/makefile
Debug/objects.mk
Debug/sources.mk
Debug/subdir_rules.mk
Debug/subdir_vars.mk
lnk_msp430afe253.cmd
targetConfigs/MSP430AFE253.ccxml
targetConfigs/readme.txt
